<h1 class="edit-article-title">Edit Article</h1>
<%= form_for(@article) do |f| %>
  <%= render 'shared/error_messages' %>
    <p class="title-form" >
      <%= f.label :title, class: 'form-title' %><br>
      <%= f.text_field :title, :placeholder => "Title", class: 'form-control', id: 'inputDefault' %>
    </p>
    <p class="body-form">
      <%= f.label :body, class: 'body-title' %><br>
      <%= f.text_area :body, :placeholder => "Content goes here", class: 'form-control', rows: '2', id: 'textArea' %>
    </p>
     <p class="new-article-button">
       <%= f.submit 'Update post  ', :class => 'btn btn-primary' %>
    </p>
<% end %>
